body {
    background-color: #2f3336;
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1 {
    font-size: 36px;
    font-weight: 400;
    color: #c0d06f;
    margin: 20px;
}
.trailers {
    text-align: center;
}
.trailers img {
    width: 100%;
    height: auto;
}
.trailers p {
    margin-bottom: 30px;
}
.trailers figcaption {
    margin-top:8px
}