{% extends 'index.html' %}

{% block trailer %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if category_trailer %}

        {% for trailer in category_trailer %}
            <p><a href = "/trailer/{{ trailer.id }}/"> {{ trailer.name }} </a></p>
        {% endfor %}

    {% else %}

    {% endif %}


    {% endblock %}
    

</body>
</html>