{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Robinson Trailers and Cranes</title>
    <meta name="description" content="Website about Robinson Trailers company">
	<meta name="keywords" content="trailers, cranes, forestry, construction, trailersforsale">
	<meta name="author" content="Adrian">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>

<link rel="stylesheet" href="{% static 'style.css' %}">




</head>

<body>
<!--Navigation-->
<header>
    <h1 class="ad">Check</h1>
    <nav class="navbar navbar-dark bg-trailers navbar-expand-lg">
        <a class="navbar-brand" href="#"><img src="https://res.cloudinary.com/fabrizioadi/image/upload/v1643668128/Changed_Logo_orginal_fkagtl.jpg" width="300" height="40" class="d-inline-block mr-1 align-bottom" alt="Logo">Robinson Trailers and Cranes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Navigation switch">
            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="mainmenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Start</a>
                </li> 

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="submenu" aria-haspopup="true"> Home </a>
                    <div class="dropdown-menu" aria-labelledby="submenu">
                        <a class="dropdown-item" href="#">Home1</a>
                        <a class="dropdown-item" href="#">Home2</a>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="#">Home3</a>
                        <a class="dropdown-item" href="#">Home4</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"> History </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Photos </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Category </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Contact us </a>
                </li>
            </ul>

            <form class="form-inline">
				
                <input class="form-control mr-1" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-light" type="submit">Click</button>
            
            </form>
        </div>
    </nav>
    <!--<div>
        <h1 class="logo">Logo   Search</h1>
    </div>-->
</header> 
    
    <div style="clear:both" class="tut"></div>
    <div style="width:200px; float:left">
        <h3 class="check">Good to see you !!!</h3>
        {% for cat in categories %}
        <p><a href = "/category/{{ cat.id }}"> {{ cat.name }}</a> </p>
        {% endfor %}
    </div>
    
    <div style="width:700; float:left">
        {% block trailer %}  {% endblock trailer %}
    </div>
    
    <div style="clear:both"></div>

<!-- {{ categories }} -->
 
</body>
</html>


