<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trailer</title>
</head>
<body>
    {% if trailer_user %}
        <h1> {{ trailer_user.name }} </h1>
        <p> {{ trailer_user.sector }} </p>
        <p> {{ trailer_user.excerpt }} </p>
        <p> {{ trailer_user.price }} </p>

    {% else %}
    <p>There is no product with this id.</p>
    {% endif %}
</body>
</html>